# Token Akun Utama (misal: icatpojan) - Digunakan untuk Direct Commit, Issue Comment/Close, dan CODE REVIEW
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Token Akun Kedua / Bot (misal: icatpojan-bot) - Digunakan untuk Membuat Branch & Pull Request (PR)
BOT_GITHUB_TOKEN=ghp_yyyyyyyyyyyyyyyyyyyyyyyyyyyy

# Owner dan nama repository
REPO_OWNER=icatpojan
REPO_NAME=project-portofolio
